
.container{
  display: flex;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  align-items: center;
}

.picture{
  width: 140px;
}

.text{
  font-size: small;
  
}


.cards {
  border-style: solid;
  margin: 10px;
  display: flex;
  flex-direction: row;
  }
  
  .photos {
    margin: 5px;
  }
  
  .card-text {
  margin: 5px;
  }
  
  .box {
    border-style: solid;
    margin: 10px;
  }
  
  .redBox {
    border: 1.5px solid black;
    margin: 10px;
    color: white;
    text-align: center;
  }
  
  .greenBox {
    border-style: solid;
    margin: 10px;
    color: black;
    text-align: center;
  }
  
  .cardLogo {
    height: 15px;
    float: right;
  }
  
  .cardContainer {
    display: flex;
  justify-content: center;}
  
  .card1 {
    color: white;
    background-color: #11aa99;
    width: 200px;
    border-radius: 8px;
    padding: 15px;
  }
  
  .card2 {
    color: #222222;
    background-color: #eeeeee;
    width: 200px;
    border-radius: 8px;
    padding: 15px;
    margin-left: 15px;
  }
  
  .card3 {
    color: white;
    background-color: #ddbb55;
    width: 200px;
    border-radius: 8px;
    padding: 15px;
    margin-left: 15px;
  }


  .profile{
    width: 100px;
    border-radius: 50%;
  }

  .driverCard {
    background-color: rgb(98, 7, 246);
    color: white;
    padding: 1%;
    margin: 3%;
    display: flex;
    align-items: center;
    
    justify-content: space-evenly;
    border-radius: 10px;
    width: 500px;
  }

  .divButton{
    text-align: center;
  }
  .button {
    width: 100px;
    border: none;
    background-color: #11aa99;
    color: white;
    font-size: larger;
    margin: 25px;
    padding: 10px;
  }

  .dice {
    width: 150px;
    margin: 25px;
    
  }